<html>
  <head>
    <meta charset="utf-8" />
    <title>Task-1</title>
  </head>
  <body>
    <div style="margin: 20px;">

      <h3>Task-1: Students api</h3>
      <h5>By Esmail Fawzy Elshishtawy Ahmed</h5>
      <h5>ID: 200197</h5>
      <br /><br />
      {{#each students}}
        {{id}}.
        {{first_name}}
        {{last_name}}
        <br />
      {{/each}}
    </div>

  </body>
</html>